<a href="https://colab.research.google.com/github/kim-seung-joo/21-2_python/blob/main/0824.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **학습 목표** 
1. *python 언어에서 변수의 의미를 이해하기*
2. *기본 데이터 타입 선언하기*
 - *int, float , str , bool*

## - 대입연산자
- 오른쪽 수식이나 값을 계산한후 왼쪽에 명시된 변수에 해당 값을 대입
- 변수는 해당 값을 가지게 된다.

In [4]:
a = 10  #int
b = 11  #float

# **주석** 
- 코드에서 #으로 시작하는 뒷부분
- python에서는 소스코드를 실행할 때 #을 만나면 무시
- 개발자(사람)이 보기 위한 용도로 사용한다.

In [6]:
# this line os very important                       (?)
# so don't delete these line
math = 76

 ## **변수 값 확인법**
- print() 함수 사용
- 코드에 마지막에 변수 값을 위치시킨후 실행

In [7]:
a = 10
b = 11.4
a
b

11.4

In [10]:
a = 10
b = 11.4
a
b
print(a)
print(a,b)
b

10
10 11.4

11.4

## **print 함수**
- 함수란 특정 기능을 반복적으로 호출하며
사용가능한 코드를 출력
- ,로 여러 변수를 한줄에 출력
- 기본적으로 한칸 띄어쓰기 후 출력

In [12]:
print(a,b)
print( a, 10, 200, b)
print('집가고싶다')

10 11.4
10 10 200 11.4
집가고싶다

**print 함수 설정**
- sep(구분자): 각 변수 사이에서 구분해주는 역할
- end: 마지막에 출력할 문자열

In [16]:
print (a,b, 200, '문어', sep ='#', end ='11' )

10#11.4#200#문어11