<a href="https://colab.research.google.com/github/kim-seung-joo/21-2_python/blob/main/0927_%EC%8B%A4%EC%8A%B5%EC%BD%94%EB%93%9C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
print('강한친구 대한육군')
print('강한친구 대한육군')

강한친구 대한육군
강한친구 대한육군

In [ ]:

a, b = input().split()
a = int(a)
b = int(b)
print(a-b)

In [39]:
#첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.

A, B = input().split()

A = int(A)
B = int(B)
print(A+B)
print(A-B)
print(A*B)
print(A//B)
print(A%B)

7 3
10
4
21
2
1

In [65]:
#4 시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.
score = input()
score = int(score)

if score>=90 :
  print("A")
elif score>=80 : 
  print("B")
elif socre>=70 :
  print("c")
elif socre>=60 :
  print("D")
else :
  print("F")

98
A

In [66]:
# A+B를 출력하는 프로그램을 작성하시오.

t = int(input())

for i in range(t):
  a,b = input().split()
  a = int(a)
  b = int(b)
  print(a+b)

5
1 1
2
2 2
4
3 3
6
4 4
8
5 5
10