<a href="https://colab.research.google.com/github/kim-seung-joo/21-2_python/blob/main/21_10_19_%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_%EB%A6%AC%EB%B7%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. 파이썬 변수로 사용할수 없는 것은?
_num = 1
num = 2
num1 = 3
# 2num = 4
# 2 = 4
#변수를 선언할때 앞에 숫자를 둘수없다
n_um= 5

In [ ]:
# 2. 각 변수에 최종 값은?
num = 0
n1 = 10
n1 = n1 + 10
n2 = 20
sum = n1 + n2

print(n1, n2, sum)

20 20 40

In [ ]:
# 3. 적절한 연산자 찾기 !
print(17//4)
print(17/4)
print(17%4)

4
4.25
1

In [ ]:
#4. 실행했을때 결과는 !
age = 17
print(type(age))

<class 'int'>

In [ ]:
#5. 프로그램을 실행했을때 결과는?
s = "Hello Hanyang"
print(s[5], s[-5])

  n

In [ ]:
#6. upper 함수를 찾는것
s = 'Hello Hanyang!'
print(s)
s = s.upper()
print(s[:8])

Hello Hanyang!
HELLO HA

In [ ]:
# 7. 여러 데이터를 다루는 파이썬의 자료형이 아닌것은?
# 자료형은 리스트, 셋, 딕셔너리, 튜플이 있음

In [ ]:
#8-9 리스트
a = ['a',1,'python',(1,2),'2',[1,2] ]
print(a[3])
print(1 in a, 2 in a)

(1, 2)
True False

In [ ]:
#10 리스트와 리스트함수
nums = list(range(4))
nums.insert(3,100)
print(nums)

[0, 1, 2, 100, 3]

In [ ]:
#11 튜플의 개념
a = 100
b = 200

a, b = b ,a

print(a,b)

200 100

In [ ]:
#12. 딕셔너리
a = {'han':1, 1:2, '1':3}
a[1] = 'yang'
print(a)

{'han': 1, 1: 'yang', '1': 3}

In [ ]:
#13. 실행했을때 결과는? 
b = set('Hello')
print(b)

{'o', 'l', 'e', 'H'}

In [ ]:
#14-15
room = [[0,0,1,0,9],
        [1,0,1,0,1],
        [0,1,1,1,9]]

mouse = room[0][2]

if mouse ==1:
  print("cheese")
elif mouse == 9:
  print("trap")
else:
  print("nothing")

cheese

In [ ]:
# 16-17
a = 0
b = 0 

for i in range(3,9):
  if i%2 == 0 and i%3 == 0:
    continue
  elif i%2 == 0:
    a += 1
  elif i%3 == 0:
    b += 1
print(a,b)

2 1

In [ ]:
18-20
print('====== 민재나라 치킨공주( . . . ) ======= ')
print()
print('...?')
print()
print('메뉴번호. 1.햄버거(300원)2. 피자(600원) 3.치킨(700원)')

money = int(input('투입금액: '))
menu = int(input('메뉴번호: '))

if menu == 1:
  money -= 300
elif menu ==2:
  money -=600
elif menu ==3:
  money -=700

if money < 0:
  print('오류가 났  습 Ll ㄷr')
else:
  won10000 = money//10000
  won5000 = (money%10000)//5000
  won1000 = (money%5000)//1000
  won500 = (money%1000)//500
  won100 = (money%500)//100 

print('거스름돈: 만원{}'.format(won10000))
print('거스름돈: 오천원{}'.format(won5000))
print('거스름돈: 천원{}'.format(won1000))
print('거스름돈: 오백원{}'.format(won500))
print('거스름돈: 백원{}'.format(won100))

====== 민재나라 치킨공주( . . . ) =======

...?

메뉴번호. 1.햄버거(300원)2. 피자(600원) 3.치킨(700원)
투입금액: 5000
메뉴번호: 2
거스름돈: 만원0
거스름돈: 오천원0
거스름돈: 천원4
거스름돈: 오백원0
거스름돈: 백원4