<a href="https://colab.research.google.com/github/kim-seung-joo/21-2_python/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85(list%2Ctuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **학습목표**
- 리스트(list)와 튜플(tuple)에 대해 이해하기
- 딕셔너리(dict)와 셋(set)에대해 이애하기

## **list(리스트)와 tuple(튜플)**
- 여러 개의 값을 담을 수 있는 데이터 구조
- list : 생성한 후에 변경이 가능
- tuple: 생성한 후 변경 불가능

In [ ]:
#{}안에 값을 담아서 생성
a = {'문어'}
print(a)

{'문어'}

In [ ]:
a = ['나는' , '문어', '꿈을꾸는', '문어']
print(a)

['나는', '문어', '꿈을꾸는', '문어']

In [ ]:
a = '잠을 자는 문어!'
b = list(a) #list()함수로 리스트 생성!
# 다른 타입(문자열)을 리스트로 변환할때 사용 가능

c = a.split()#문자열의 공백 기준으로 리스트를 생성
d = a.split('는')  #구분자(매게변수) 기준

print(b)
print(c)
print(d)

['잠', '을', ' ', '자', '는', ' ', '문', '어', '!']
['잠을', '자는', '문어!']
['잠을 자', ' 문어!']

## **리스트 indexting**
- [] 연산자를 이용햐 항목을 가져온다.
- [ i ] : i번쨰 원소를 반환한다.
- i가 음수면, 마지막 원소에서 -1로 하여 가져온다.

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[0], a[2])
print(a[-1],a[-3],a[-10])
print(a[9]) #파이썬은 0부터 숫자를 센다 1, 2, 3, 4를 0번, 1번, 2번, 3번 이런식으로

1 3
10 8 1
10

In [ ]:
#인덱스 접근 후 업데이트
a = 'hello comnetA!'
b = a.replace('l' , 'w')
c = 'j' +a[1:]
print(b)
print(c)

a = [1,2,3,4,5,6,7,8,9,10]

a[0] = 100
a[-1] = 90
print(a)

hewwo comnetA!
jello comnetA!
[100, 2, 3, 4, 5, 6, 7, 8, 9, 90]

# **리스트 slicing(슬라이싱)**
- 슬라이싱 결과 역시 리스트
- 문자열과 동일하게 동작

In [ ]:
a =[1,2,3,4,5,6,7,8,9,10]
#슬라이싱[시작:끝:증가]

print(a[3:7])
print(a[:7])
print(a[3:])
print(a[:])
print(a[1:7:2])

[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6]

### **리스트 맴버 함수**
- 생성된 리스트에 동작하는 함수
- append() : 리스트 끝에다가 항목을 추가한다 

- extend() : 리스트를 연장(+=)

- insert() : 원하는 위치에 추가 가능

- remove() : 값으로 항목을 삭제

- pop() : 지우고자 하는 인덱스의 아이템을 반환후 삭제

- index() : 잦고자하는 값의 인덱스를 반환

In [ ]:
a = [1,2,3,4,5]
a.append(10)
print(a)

b = [11,12,13,14,15]
#a.extend(b)
a += b 
print(a)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15]

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
a.insert(5, 20)
print(a)

[1, 2, 3, 4, 5, 20, 6, 7, 8, 9, 10]

In [ ]:
a.remove(10)
print(a)

[2, 3, 4, 11, 12, 13, 14, 15]

In [ ]:
a = [1,2,3,4,10,11,12,13,14,15]
c = a.pop(0)

print(a)
print(c)

[2, 3, 4, 10, 11, 12, 13, 14, 15]
1

In [ ]:
a = [2, 6, 7, 9, 10]
a.index(2)
a.index(6) #몇번째 있는지 사용(파이썬은 0번부터(잊지마라ㅡㅡ))

1

# **in 키워드**
- 리스트내에 해당 값이 존재하는지
- True,False 중 한가지로 반환
- 값 in [list]

In [ ]:
a = [1,2,3,4,5,6,7]
b = 5
c = 10
d = b in a

print(b in a)
print(c in a)
print(d)

True
False
True

## **list 정렬**
- sort() : 리스트자체를 내부적으로 정렬
- sorted() : 정렬된 리스트의 복사본을 반환

In [ ]:
a = [9,10,23,1,11,111,2,3,4,600,53525,45,67,88,21,10000000,12005,493000]
b = sorted(a)
print(a)
print(b)

a.sort(reverse =True)
print(a)
print(b)

[9, 10, 23, 1, 11, 111, 2, 3, 4, 600, 53525, 45, 67, 88, 21, 10000000, 12005, 493000]
[1, 2, 3, 4, 9, 10, 11, 21, 23, 45, 67, 88, 111, 600, 12005, 53525, 493000, 10000000]
[10000000, 493000, 53525, 12005, 600, 111, 88, 67, 45, 23, 21, 11, 10, 9, 4, 3, 2, 1]
[1, 2, 3, 4, 9, 10, 11, 21, 23, 45, 67, 88, 111, 600, 12005, 53525, 493000, 10000000]

# **튜플(tuple)**
- 리스트와 같이 여러개의 값을 갖는 데이터 컬렉션 타입
- 생성된후 변겅이 불가능

In [ ]:
a = [1,2,3]
b = (1,2,3)
print(type(a))
print(type(b))

a[0]= 100
print(a)
#b[0]=100 튜플은 변경이 안된다 (파이썬 나빠)
#print(0)

<class 'list'>
<class 'tuple'>
[100, 2, 3]

In [ ]:
a,b,c,d = 10,20,30,40
print(a,b,c,d) #차레대로 값이 들어감.

10 20 30 40

In [ ]:
a = 5
b = 4

#문제: a,b의 값을 교환해시오.
temp = a
#a = b
#b = temp #값을 교환하려면 temp를 써라(?)

print(a,b)
a,b = b,a
print(a,b)

5 4
4 5