<a href="https://colab.research.google.com/github/kim-seung-joo/21-2_python/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85(list%2Ctuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**

- 리스트(list)에 대해 이애하기
- 튜플(tuple)에 대해 이해하기

## **리스트(list)와 튜플**
- 여러 개의 값을 담을 수 있는 데이터 구조
- list: 생성된 후에 변경이 가능
- tuple: 생성된 후에 변경이 불가능

In [ ]:
# []:리스트, (): 튜플, {}:딕셔너리
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
a = ['컴넷', 'B', 1, '학년',[10,20]]
print(a)

['컴넷', 'B', 1, '학년', [10, 20]]

In [ ]:
a = "Hello comnet B!"
b = list(a)  #list()함수로 리스트를 생성
#리스트 함수는 다른타입(문자열 등)을 리스트로 변환할 떄 사용

print(b)
print(len(b))

c = a.split()#공백을 기준으로 리스트를 생성
d = a.split('l')# ()안의 구분자를 기준으로 리스트를 생성
print(c)
print(d)

['H', 'e', 'l', 'l', 'o', ' ', 'c', 'o', 'm', 'n', 'e', 't', ' ', 'B', '!']
15
['Hello', 'comnet', 'B!']
['He', '', 'o comnet B!']

## **리스트 인덱싱(indexing)**

- [] 연산자를 이용해서 항목을 가져온다.
- [ i ]: i번쨰 원소를 반환한다
- 만약, i가 음수면 아지막 원소에서-1로 하여 가져온다.

In [20]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[0], a[3], a[7], a[9])
print(a[-1], a[-3], a[-10])
#print(a[10]), a[-11])

1 4 8 10
10 8 1

In [27]:
#리스트의 인덱스를 이용해 업데이트
a = [1,2,3,4,5,6,7,8,9,10]
a[0] = 100
a[-1] = 0
print(a)

#문자역을 인덱스를 사용해 없데이트
a = "Hello comnet B!"
b = a.replace('l','w')
print(b)
c = 'j'+a[1:]
print(c)

[100, 2, 3, 4, 5, 6, 7, 8, 9, 0]
Hewwo comnet B!
jello comnet B!

### **리스트 slicing**
- 리스트를 슬라이싱한 결과도 역시 리스트
- 슬라이싱[시작:끝:승가값]

In [33]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[3:7])
print(a[:7])
print(a[3:])
print(a[:])
print(a[::2])
print(a[1:9:2])

[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8]

### **리스트 멤버 함수**
- 생성된 리스트에 동작하는 함수
- append() : 리스트 끝에다가 항목을 추가
- extend() : 리스트를 연장 (+=)
- insert() : 원하는 위치에 추가 가능(위치,아이템)

In [34]:
a = [1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [37]:
b = [11,12,13]
#a.extend(b)
a += b #extend 동장
print(a)

[1, 2, 3, 4, 5, 10, 11, 12, 13, 11, 12, 13, 11, 12, 13]

In [39]:
a = [1,2,3,4,5]

a.insert(0,7)
a.insert(1,6)
print(a)

[7, 6, 1, 2, 3, 4, 5]

- remove(): 값으로 항목을 삭제
- pop() : 지우고자 하는 인덱스의 아이템을 반환후 삭제
- index() : 찾고자 하는 값의 인덱스 값을 반환

In [40]:
a = [10,20,30,40,50]
a.remove(10)
print(a)

[20, 30, 40, 50]

In [44]:
a = [10,20,30,40,50]

b = a.pop(0)
print(b)
print(a)

10
[20, 30, 40, 50]

In [49]:
a = [10,20,30,40,50]
print(a.index(40))

b = "Hello!"
print(b.index('l'))

3
2

### **in 키워드**
- 리스트에 해당 밧이 존재 하는지
- True, False 중 한가지로 반환
- 값 in [list]

In [52]:
a = [1,2,3,4,5,6,7,8]
b = 5 
c = 10
print(b in a)
print(c in a)

True
False

### **sort 정렬**
- sort() : 리스트 자체를 내부적으로 정렬
- sorted() : 정렬왼 리스트의 복사본 저장

In [58]:
a = [2,5,6,8,9,9,5,3,3,5,7,9,90,]
b = sorted(a)
print(b)
print(a)


#a.sort()
#print(a)
#a.sort(reverse= True)
#print(a)

[2, 3, 3, 5, 5, 5, 6, 7, 8, 9, 9, 9, 90]
[2, 5, 6, 8, 9, 9, 5, 3, 3, 5, 7, 9, 90]

### **튜플(Tuple)**
- 리스트와 같이 어려개의 값을 갖는 데이터 컬렉션 타입
- 생성된 우레 변경이 불가능

In [61]:
a = [1,2,3]
b = (1,2,3)

print(type(a))
print(type(b))

a[0] = 100
print(a)
#b[0] = 100

<class 'list'>
<class 'tuple'>
[100, 2, 3]

In [65]:
a,b,c,d = 10,20,30,40

print(a,b,c,d)

10 20 30 40

In [69]:
a = 5 
b = 4

#문제! a,b값을 교환하시오!

#temp = a
#a = b
#b = temp
a,b = b,a

print(a,b)

4 5