<a href="https://colab.research.google.com/github/kim-seung-joo/21-2_python/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **학습목표**
- 반복문의 이해 및 활용(for)
- range 함수 이해

# **for 반복문**
- 리스트, 문자열 등등 순회를 하면서 값을 처리할때 사용
- i는 매번 수행될때마다 a리스트 안의 값으로

In [ ]:
a = [1,2,3,4,5]

for i in a :
  print(i, i*2)
print('최종 i값 :' , i)

1 2
2 4
3 6
4 8
5 10
최종 i값 : 5

In [ ]:
#문자열의 아이템을 출력하기

for x in 'Hello comNet A' :
  print(x)

H
e
l
l
o

c
o
m
N
e
t

A

In [ ]:
a = [1,10,7,29,18]

for i in a :
  if i % 2 ==0 : #짝수
   print(i//2)
else : #홀수
  print(i*2)

5
9
36

In [ ]:
# 첫 줄에 테스트 케이스가 주어지고,
# 두번째 줄 부터 나오는 수를 입력받아
# 테스트 케이스만큼 각 수를 더하는 문제

t = int(input())


for i in range(t) :
  a, b = input().split()
  a = int (a)
  b = int (b)
  print(a+b)

1
1 1
2

# **break**
 * 특정 조건을 만족할때, 블록을 빠져 나오기 위해 사용

In [ ]:
a = [1,10,7,29,18]

for i in a:
  print(i)
  if i > 20 : 
    break

1
10
7
29

# **continue**
- 해당 아이템을 건너 뛰고 싶을때 사용

In [ ]:
a = [3,9,7,29,18]

for i in a :
  if i>5 and i<20:
    continue
  print(i)

3
29

In [ ]:
a = [ 3, 2, 5, 10, 23, 12, 3, 4, 0, 2, 4]

for i in  a :
  if i ==0:
    break
  elif i % 2 ==0 :
    print(i*2)
  elif i %2 ==1:
    continue

4
20
24
8

# **range 함수**

 - 리스트 혹은 튜플을 쉽게 만들 수 있는 내장함수
 - 주어진 값에 따라 다양한 결과를 반환

  ```python
   range(10)        ->  [0,1,2,3,4,5,6,7,8,9]
   range(2, 10)     ->  [2,3,4,5,6,7,8,9]
   range(2, 10, 3)  ->  [2, 5, 8] 
  ```

In [ ]:
list(range(10))
list(range(2,10))
list(range(2,10,3))
list(range(2,9))

[2, 3, 4, 5, 6, 7, 8]

### **구구단 출력하기**
- 2단부터 9단까지
- 각 단은 1부터 9까지 곱하도록
> - 2 * 1 = 2
> - 2 * 2 = 4
  - ....
  - 2 * 9 = 18
  - 총 9단까지 출력

In [95]:
print("[구구단 출력하기]")
for j in range(2,10) :  
  print("[",j,"단]") 
  for i in range(1, 10):  
    print(j,"*", i,"=", j*i )
  print()

[구구단 출력하기]
[ 2 단]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[ 3 단]
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

[ 4 단]
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

[ 5 단]
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

[ 6 단]
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

[ 7 단]
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

[ 8 단]
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

[ 9 단]
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81